@charset "UTF-8";

* {

    font-family: Arial, Helvetica, sans-serif;
}

body {
    background-image: linear-gradient(to right, #FCDFA6,#F4B886,#A18276);
}

main {
    background-color: white;
    width: 600px;
    padding: 10px;
    margin: auto;
    border-radius: 10px ;
    box-shadow: 5px 5px 15px #65514a8f;
}

h1 {
    color: #889a88;
    text-align: center;
    text-shadow: 1px 1px 3px #6276628d;
}

h2 {
    color: #CBE896;
}

p {
    text-align: justify;
}